In [1]:
import numpy as np
import pandas as pd
import random

In [3]:
# import dati grezzi
dati = pd.read_csv("Dataset/Reviews_With_Metadata.csv", low_memory=False)
print(dati.shape)

(1773614, 11)

In [4]:
# rimuovere eventuali elementi NULL in product_title e product_brand
dati = dati.dropna(subset=["product_title","product_brand"])
dati.shape

(1773588, 11)

In [4]:
dati.head()

,product_asin,reviewer_id,reviewer_name,review_score,review_time,review_time_unix,review_summary,review_upvote,review_text,product_title,product_brand
0,0176496920,A3FANY5GOT5X0W,Kelly Keyser,5,2013-01-23 00:00:00,1358899200,Just as described!,NaN,"Arrived on time, in mint condition, great! I ...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
1,0176496920,AT6HRPPYOPHMB,Michael C,5,2012-11-05 00:00:00,1352073600,Great device,NaN,This device was hard to find for my daughter's...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
2,0176496920,A4IX7B38LIN1E,BH,4,2012-10-17 00:00:00,1350432000,Pretty Good,NaN,Just a clicker nothing special. Was hoping it ...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
3,0176496920,A12Q4LR8N17AOZ,Waterfall3500,5,2017-03-29 00:00:00,1490745600,Thank you for the great product. Works. A++ Us...,NaN,Great response card. Slow shipping but it work...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
4,0176496920,A1GJXZZPOZ3OD9,Amazon Customer,1,2017-03-21 00:00:00,1490054400,One Star,NaN,It only lasted for 3 days before it stopped wo...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"

In [5]:
# filter by review_upvote >= 1 and remove comma in numbers
dati = dati.dropna(subset="review_upvote")
dati['review_upvote'] = dati['review_upvote'].astype(str)
dati.shape

(267852, 11)

In [6]:
def remove_comma(text):
    return text.replace(',','')

dati['review_upvote'] = list(map(remove_comma,list(dati['review_upvote'])))
dati['review_upvote'] = dati['review_upvote'].astype(float)

In [7]:
dati.head()

,product_asin,reviewer_id,reviewer_name,review_score,review_time,review_time_unix,review_summary,review_upvote,review_text,product_title,product_brand
10,0176496920,A3CQXY7BIMJEAK,Amazon Customer,1,2017-01-22 00:00:00,1485043200,"Product ok, business models s**ks",2,"The product is ok. Works fine, with enough fun...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
12,0176496920,A10LKHY0O6OBLB,Joseph Doye,2,2017-01-10 00:00:00,1484006400,Make sure you don't need a license for the sof...,5,I bought one of these used for my course. Seem...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
23,0176496920,ADFGHSXYA6CAI,Amazon Customer,3,2016-09-06 00:00:00,1473120000,"Works well, but stick with the app if you can",9,"The device came fully charged, I would recomme...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
27,0176496920,A244VCNZM968SE,Betty Rain,5,2016-03-06 00:00:00,1457222400,Reliable,3,This worked perfectly in every lecture that I ...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
29,0176496920,A2DE2X4ZHTLAEW,Benson Boy,1,2016-01-24 00:00:00,1453593600,just say no,2,"don't worry it works, if you buy a subscriptio...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"

In [8]:
# aggiungere la colonna id_univoco per ogni recensione
# Pair_{reviewer_id}-{product_asin}
arr = ["Pair_"+dati.iloc[i]['reviewer_id']+"-"+dati.iloc[i]['product_asin'] for i in range(dati.shape[0])]
print(arr[0])
dati['Review_ID'] = arr

Pair_A3CQXY7BIMJEAK-0176496920

In [10]:
# rimuove le eventuali righe duplicate
dati = dati.drop_duplicates('Review_ID')
print(dati.shape)
dati.head()

(199427, 12)

,product_asin,reviewer_id,reviewer_name,review_score,review_time,review_time_unix,review_summary,review_upvote,review_text,product_title,product_brand,Review_ID
10,0176496920,A3CQXY7BIMJEAK,Amazon Customer,1,2017-01-22 00:00:00,1485043200,"Product ok, business models s**ks",2,"The product is ok. Works fine, with enough fun...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_A3CQXY7BIMJEAK-0176496920
12,0176496920,A10LKHY0O6OBLB,Joseph Doye,2,2017-01-10 00:00:00,1484006400,Make sure you don't need a license for the sof...,5,I bought one of these used for my course. Seem...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_A10LKHY0O6OBLB-0176496920
23,0176496920,ADFGHSXYA6CAI,Amazon Customer,3,2016-09-06 00:00:00,1473120000,"Works well, but stick with the app if you can",9,"The device came fully charged, I would recomme...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_ADFGHSXYA6CAI-0176496920
27,0176496920,A244VCNZM968SE,Betty Rain,5,2016-03-06 00:00:00,1457222400,Reliable,3,This worked perfectly in every lecture that I ...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_A244VCNZM968SE-0176496920
29,0176496920,A2DE2X4ZHTLAEW,Benson Boy,1,2016-01-24 00:00:00,1453593600,just say no,2,"don't worry it works, if you buy a subscriptio...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_A2DE2X4ZHTLAEW-0176496920

In [11]:
# salvataggio in locale dei dati filtrati
dati = dati.dropna()
dati = dati.drop_duplicates()
dati.to_csv("Dataset/Filtered_Reviews_With_Metadata.csv", index=False)
print("done")

done

In [4]:
dati = pd.read_csv("Dataset/Filtered_Reviews_With_Metadata.csv")
dati.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199299 entries, 0 to 199426
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   product_asin      199299 non-null  object
 1   reviewer_id       199299 non-null  object
 2   reviewer_name     199299 non-null  object
 3   review_score      199299 non-null  int64
 4   review_time       199299 non-null  object
 5   review_time_unix  199299 non-null  int64
 6   review_summary    199299 non-null  object
 7   review_upvote     199299 non-null  float64
 8   review_text       199299 non-null  object
 9   product_title     199299 non-null  object
 10  product_brand     199299 non-null  object
 11  Review_ID         199299 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 19.8+ MB

In [5]:
# creazione dataframe hits con 0 righe e 5 colonne
hits_df = pd.DataFrame(columns=["Posizione_1","Posizione_2","Posizione_3","Posizione_4","Posizione_5"])
print(hits_df)

Empty DataFrame
Columns: [Posizione_1, Posizione_2, Posizione_3, Posizione_4, Posizione_5]
Index: []

In [ ]:
# creare la tabella delle HIT con 15 righe e 5 colonne
# 1 colonna estrarre a caso un array di 15 righe del DF dati
# 2 colonna array shiftato a DX di 1
# 3 colonna array shiftato a DX di 2
# ...

In [6]:
# estrazione casuale di 15 review_id dal dataframe filtrato
random_rews = list(np.random.choice(dati['Review_ID'], size=15, replace=False))
print(random_rews)

['Pair_A1IXR1SDY2JEBT-B018J40IKU', 'Pair_A13PCJYZZSHTF1-B00RMX6EB2', 'Pair_A32FTLA25H2AM-B018FNDPVY', 'Pair_ARA6K18YQ4UZZ-B000FP83GS', 'Pair_A24FAUV92Z4NQ2-B0076O41IK', 'Pair_A21VR3CU76PEA7-B003BZQRV2', 'Pair_A16IOM7V3PNJ43-B0033SHDSS', 'Pair_AP4CTAPYQ0G38-B00IQCHQPQ', 'Pair_ARQT4BAVJQOF5-B000FPAN2K', 'Pair_A1BCTPXWBGVOM3-B01FYFJ1CS', 'Pair_AVJC3PLM2VHRI-B01D9JG0VQ', 'Pair_AR6PRH6B8N7LP-B006UKI83U', 'Pair_AJQYAX6Y56ZFW-B019XWENGM', 'Pair_A2ZHSXTQO831OS-B000Q9A4AQ', 'Pair_A87LMJTA3I6UU-B00336EUU4']

In [7]:
# popolamento dataframe hits traslando di una posizone la colonna precedente per inserirla in qualla corrente
for i in range(hits_df.shape[1]):
    col_name = "Posizione_"+str(i+1)
    random_rews = random_rews[-1:] + random_rews[:-1]
    hits_df[col_name] = random_rews
hits_df.head()

,Posizione_1,Posizione_2,Posizione_3,Posizione_4,Posizione_5
0,Pair_A87LMJTA3I6UU-B00336EUU4,Pair_A2ZHSXTQO831OS-B000Q9A4AQ,Pair_AJQYAX6Y56ZFW-B019XWENGM,Pair_AR6PRH6B8N7LP-B006UKI83U,Pair_AVJC3PLM2VHRI-B01D9JG0VQ
1,Pair_A1IXR1SDY2JEBT-B018J40IKU,Pair_A87LMJTA3I6UU-B00336EUU4,Pair_A2ZHSXTQO831OS-B000Q9A4AQ,Pair_AJQYAX6Y56ZFW-B019XWENGM,Pair_AR6PRH6B8N7LP-B006UKI83U
2,Pair_A13PCJYZZSHTF1-B00RMX6EB2,Pair_A1IXR1SDY2JEBT-B018J40IKU,Pair_A87LMJTA3I6UU-B00336EUU4,Pair_A2ZHSXTQO831OS-B000Q9A4AQ,Pair_AJQYAX6Y56ZFW-B019XWENGM
3,Pair_A32FTLA25H2AM-B018FNDPVY,Pair_A13PCJYZZSHTF1-B00RMX6EB2,Pair_A1IXR1SDY2JEBT-B018J40IKU,Pair_A87LMJTA3I6UU-B00336EUU4,Pair_A2ZHSXTQO831OS-B000Q9A4AQ
4,Pair_ARA6K18YQ4UZZ-B000FP83GS,Pair_A32FTLA25H2AM-B018FNDPVY,Pair_A13PCJYZZSHTF1-B00RMX6EB2,Pair_A1IXR1SDY2JEBT-B018J40IKU,Pair_A87LMJTA3I6UU-B00336EUU4

In [8]:
# salvataggio in locale del dataframe generato
hits_df.to_csv("Dataset/hits_df.csv",index=False)
print("done")
hits_df.shape

done

(15, 5)

In [24]:
hits_df = pd.read_csv("Dataset/hits_df.csv")
hits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Posizione_1  15 non-null     object
 1   Posizione_2  15 non-null     object
 2   Posizione_3  15 non-null     object
 3   Posizione_4  15 non-null     object
 4   Posizione_5  15 non-null     object
dtypes: object(5)
memory usage: 732.0+ bytes

In [ ]:
# ALLOCAZIONE FILE HITS.JSON
# 1) "unit_id": UNIQUE
# 2) "token_input" = "fawndiaNoi"
# 3) "token_output" = "kfandfnaw"
# 4) "documents_number" = 1
# 5) "documents" = [{ "id": Review_ID, "review_time" , "product_title" , "product_brand" , "text": review_text}]

In [2]:
import random
import string
input_token_arr = [""]*15
output_token_arr = [""]*15
lgt = 11  # lunghezza token
def genera_token(lgt,arr):
    for i in range (15):
        repeat_flag = True;
        while (repeat_flag):
            curr_token = ''.join(random.choices(string.ascii_uppercase, k=lgt))
            if (curr_token not in arr):
                arr[i] = curr_token
                repeat_flag = False;
    return arr


input_token_arr = genera_token(lgt,input_token_arr)
output_token_arr = genera_token(lgt,output_token_arr)
# verifica che non si siano elementi comuni tra i vari token_input e token_output 
print(set(input_token_arr).intersection(set(output_token_arr)) )

set()

In [ ]:
# creazione array di hits seguendo la struttura fisica 
# definita nella documentazione del repo del prof
# e prendendo le review definite nel dataframe hits
hits_array = []
for i in range(hits_df.shape[0]): #cicla ogni riga di hits_df
    curr_unit = "unit_"+str(i)
    curr_token_input = input_token_arr[i]
    curr_token_output = output_token_arr[i]
    curr_hit_dict = {
        "unit_id": "unit_"+str(i), 
        "token_input": curr_token_input, 
        "token_output": curr_token_output, 
        "documents_number": hits_df.shape[1],
        "documents": []
    }
    documents_arr = []
    # cicla per ogni colonna di hits_df alla riga i
    for j in range( hits_df.shape[1]):
        curr_pos = "Posizione_"+str(j+1)
        curr_Rew_ID = hits_df[curr_pos][i]
        curr_rew_idx = dati[dati['Review_ID']==curr_Rew_ID].index[0]
        dati.loc[curr_rew_idx,'review_time']
        documents_arr = documents_arr + [{
            "id": curr_Rew_ID,
            "text": dati.loc[curr_rew_idx,'review_text'],
            "product_title" : dati.loc[curr_rew_idx,'product_title'],
            "product_brand" : dati.loc[curr_rew_idx,'product_brand'],
            "time" : dati.loc[curr_rew_idx,'review_time']
        }]
    curr_hit_dict['documents'] = documents_arr
    hits_array = hits_array + [curr_hit_dict]
# print(hits_array[0])

In [32]:
# salvataggio in locale del file hits.json
import json
# Convert the dictionary to a JSON string
json_data = json.dumps(hits_array)

# Open a file in write mode
with open("task/hits.json", "w") as file:
    # Write the JSON string to the file
    file.write(json_data)
print("done")

done