In [1]:
import numpy as np
import pandas as pd
import random

In [3]:
dati = pd.read_csv("Dataset/Reviews_With_Metadata.csv", low_memory=False)
print(dati.shape)

(1773614, 11)

In [4]:
# rimuovere eventuali elementi NULL in product_title e product_brand
dati = dati.dropna(subset=["product_title","product_brand"])
dati.shape

(1773588, 11)

In [4]:
dati.head()

,product_asin,reviewer_id,reviewer_name,review_score,review_time,review_time_unix,review_summary,review_upvote,review_text,product_title,product_brand
0,0176496920,A3FANY5GOT5X0W,Kelly Keyser,5,2013-01-23 00:00:00,1358899200,Just as described!,NaN,"Arrived on time, in mint condition, great! I ...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
1,0176496920,AT6HRPPYOPHMB,Michael C,5,2012-11-05 00:00:00,1352073600,Great device,NaN,This device was hard to find for my daughter's...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
2,0176496920,A4IX7B38LIN1E,BH,4,2012-10-17 00:00:00,1350432000,Pretty Good,NaN,Just a clicker nothing special. Was hoping it ...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
3,0176496920,A12Q4LR8N17AOZ,Waterfall3500,5,2017-03-29 00:00:00,1490745600,Thank you for the great product. Works. A++ Us...,NaN,Great response card. Slow shipping but it work...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
4,0176496920,A1GJXZZPOZ3OD9,Amazon Customer,1,2017-03-21 00:00:00,1490054400,One Star,NaN,It only lasted for 3 days before it stopped wo...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"

In [5]:
# filter by review_upvote >= 1 and remove comma in numbers
dati = dati.dropna(subset="review_upvote")
dati['review_upvote'] = dati['review_upvote'].astype(str)
dati.shape

(267852, 11)

In [6]:
def remove_comma(text):
    return text.replace(',','')

dati['review_upvote'] = list(map(remove_comma,list(dati['review_upvote'])))

In [7]:
dati.head()

,product_asin,reviewer_id,reviewer_name,review_score,review_time,review_time_unix,review_summary,review_upvote,review_text,product_title,product_brand
10,0176496920,A3CQXY7BIMJEAK,Amazon Customer,1,2017-01-22 00:00:00,1485043200,"Product ok, business models s**ks",2,"The product is ok. Works fine, with enough fun...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
12,0176496920,A10LKHY0O6OBLB,Joseph Doye,2,2017-01-10 00:00:00,1484006400,Make sure you don't need a license for the sof...,5,I bought one of these used for my course. Seem...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
23,0176496920,ADFGHSXYA6CAI,Amazon Customer,3,2016-09-06 00:00:00,1473120000,"Works well, but stick with the app if you can",9,"The device came fully charged, I would recomme...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
27,0176496920,A244VCNZM968SE,Betty Rain,5,2016-03-06 00:00:00,1457222400,Reliable,3,This worked perfectly in every lecture that I ...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"
29,0176496920,A2DE2X4ZHTLAEW,Benson Boy,1,2016-01-24 00:00:00,1453593600,just say no,2,"don't worry it works, if you buy a subscriptio...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC"

In [8]:
# aggiungere la colonna id_univoco per ogni recensione
# Pair_{reviewer_id}-{product_asin}
arr = ["Pair_"+dati.iloc[i]['reviewer_id']+"-"+dati.iloc[i]['product_asin'] for i in range(dati.shape[0])]
print(arr[0])
dati['Review_ID'] = arr

Pair_A3CQXY7BIMJEAK-0176496920

In [10]:
# rimuove le eventuali righe duplicate
dati = dati.drop_duplicates('Review_ID')
print(dati.shape)
dati.head()

(199427, 12)

,product_asin,reviewer_id,reviewer_name,review_score,review_time,review_time_unix,review_summary,review_upvote,review_text,product_title,product_brand,Review_ID
10,0176496920,A3CQXY7BIMJEAK,Amazon Customer,1,2017-01-22 00:00:00,1485043200,"Product ok, business models s**ks",2,"The product is ok. Works fine, with enough fun...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_A3CQXY7BIMJEAK-0176496920
12,0176496920,A10LKHY0O6OBLB,Joseph Doye,2,2017-01-10 00:00:00,1484006400,Make sure you don't need a license for the sof...,5,I bought one of these used for my course. Seem...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_A10LKHY0O6OBLB-0176496920
23,0176496920,ADFGHSXYA6CAI,Amazon Customer,3,2016-09-06 00:00:00,1473120000,"Works well, but stick with the app if you can",9,"The device came fully charged, I would recomme...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_ADFGHSXYA6CAI-0176496920
27,0176496920,A244VCNZM968SE,Betty Rain,5,2016-03-06 00:00:00,1457222400,Reliable,3,This worked perfectly in every lecture that I ...,Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_A244VCNZM968SE-0176496920
29,0176496920,A2DE2X4ZHTLAEW,Benson Boy,1,2016-01-24 00:00:00,1453593600,just say no,2,"don't worry it works, if you buy a subscriptio...",Turning Technologies Response Card (RCRF-03),"Turning Technologies, LLC",Pair_A2DE2X4ZHTLAEW-0176496920

In [11]:
dati.to_csv("Dataset/Filtered_Reviews_With_Metadata.csv", index=False)
print("done")

done

In [12]:
hits_df = pd.DataFrame(columns=["Posizione_1","Posizione_2","Posizione_3","Posizione_4","Posizione_5"])
print(hits_df)

Empty DataFrame
Columns: [Posizione_1, Posizione_2, Posizione_3, Posizione_4, Posizione_5]
Index: []

In [ ]:
# creare la tabella delle HIT con 15 righe e 5 colonne
# 1 colonna estrarre a caso un array di 15 righe del DF dati
# 2 colonna array shiftato a DX di 1
# 3 colonna array shiftato a DX di 2
# ...

In [13]:
random_rews = list(np.random.choice(dati['Review_ID'], size=15, replace=False))
print(random_rews)

['Pair_A8NRHVZY1EETX-B01ESG4TK8', 'Pair_A409YH9WTSV4Y-B004SS8AMU', 'Pair_AFEY9GV21C33G-B0016UU9QI', 'Pair_A3G5G7VC4CKAO5-B00RDILWTK', 'Pair_A36KEU3YFIFUO2-B0053YNOVK', 'Pair_AT0L50CEPL3YK-B008VM889E', 'Pair_A1O448BF99YF7I-B0026GZU0Q', 'Pair_A3N55ZKSNI4TW6-B00NLJH0VO', 'Pair_A1KJPG2QDWHRBV-B0057JB9XG', 'Pair_A1AVQ7J76IVAE9-B00BSXAIJG', 'Pair_A3UO22X4JABPVE-B00O2F1DBO', 'Pair_A6S5QZ7KSE9H9-B01CBGMCVK', 'Pair_A1XWISQ4HX4WYJ-B0023EY002', 'Pair_A39K66WSANWQK1-B00C351GBC', 'Pair_A3U5ND3FMBFDV3-B00N7I1ZVU']

In [14]:
for i in range(hits_df.shape[1]):
    col_name = "Posizione_"+str(i+1)
    random_rews = random_rews[-1:] + random_rews[:-1]
    hits_df[col_name] = random_rews
hits_df.head()

,Posizione_1,Posizione_2,Posizione_3,Posizione_4,Posizione_5
0,Pair_A3U5ND3FMBFDV3-B00N7I1ZVU,Pair_A39K66WSANWQK1-B00C351GBC,Pair_A1XWISQ4HX4WYJ-B0023EY002,Pair_A6S5QZ7KSE9H9-B01CBGMCVK,Pair_A3UO22X4JABPVE-B00O2F1DBO
1,Pair_A8NRHVZY1EETX-B01ESG4TK8,Pair_A3U5ND3FMBFDV3-B00N7I1ZVU,Pair_A39K66WSANWQK1-B00C351GBC,Pair_A1XWISQ4HX4WYJ-B0023EY002,Pair_A6S5QZ7KSE9H9-B01CBGMCVK
2,Pair_A409YH9WTSV4Y-B004SS8AMU,Pair_A8NRHVZY1EETX-B01ESG4TK8,Pair_A3U5ND3FMBFDV3-B00N7I1ZVU,Pair_A39K66WSANWQK1-B00C351GBC,Pair_A1XWISQ4HX4WYJ-B0023EY002
3,Pair_AFEY9GV21C33G-B0016UU9QI,Pair_A409YH9WTSV4Y-B004SS8AMU,Pair_A8NRHVZY1EETX-B01ESG4TK8,Pair_A3U5ND3FMBFDV3-B00N7I1ZVU,Pair_A39K66WSANWQK1-B00C351GBC
4,Pair_A3G5G7VC4CKAO5-B00RDILWTK,Pair_AFEY9GV21C33G-B0016UU9QI,Pair_A409YH9WTSV4Y-B004SS8AMU,Pair_A8NRHVZY1EETX-B01ESG4TK8,Pair_A3U5ND3FMBFDV3-B00N7I1ZVU

In [15]:
hits_df.to_csv("Dataset/hits_df.csv",index=False)
print("done")
hits_df.shape

done

(15, 5)

In [ ]:
# ALLOCAZIONE FILE HITS.JSON
# 1) "unit_id": UNIQUE
# 2) "token_input" = "fawndiaNoi"
# 3) "token_output" = "kfandfnaw"
# 4) "documents_number" = 1
# 5) "documents" = [{ "id": Review_ID, "review_time" , "product_title" , "product_brand" , "text": review_text}]

In [ ]:
# "token_input" = str(hash(unit)) UNIQUE
# "token_output" = str(hash(token_input)) UNIQUE

In [ ]:
hits_array = []
for i in range(hits_df.shape[0]): #cicla ogni riga di hits_df
    curr_unit = "unit_"+str(i)
    curr_token_input = str(hash(curr_unit))
    curr_token_output = str(hash(curr_token_input))
    curr_hit_dict = {
        "unit_id": "unit_"+str(i), 
        "token_input": curr_token_input, 
        "token_output": curr_token_output, 
        "documents_number": hits_df.shape[1],
        "documents": []
    }
    documents_arr = []
    # cicla per ogni colonna di hits_df alla riga i
    for j in range( hits_df.shape[1]):
        curr_pos = "Posizione_"+str(j+1)
        curr_Rew_ID = hits_df[curr_pos][i]
        curr_rew_idx = dati[dati['Review_ID']==curr_Rew_ID].index[0]
        dati.loc[curr_rew_idx,'review_time']
        documents_arr = documents_arr + [{
            "id": curr_Rew_ID,
            "product_title" : dati.loc[curr_rew_idx,'product_title'],
            "product_brand" : dati.loc[curr_rew_idx,'product_brand'],
            "text": dati.loc[curr_rew_idx,'review_text'],
            "time" : dati.loc[curr_rew_idx,'review_time']
        }]
    curr_hit_dict['documents'] = documents_arr
    hits_array = hits_array + [curr_hit_dict]
print(hits_array[0])

In [17]:
import json
# Convert the dictionary to a JSON string
json_data = json.dumps(hits_array)

# Open a file in write mode
with open("task/hits.json", "w") as file:
    # Write the JSON string to the file
    file.write(json_data)
print("done")

done